name: Deploy to Netcup Server

on:
  workflow_run:
    workflows: ["Update Helm Values from Manifest"]
    types:
      - completed

jobs:
  trigger-child:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Change to the correct directory
        run: cd ${{ github.workspace }}

      - name: Package Helm Chart
        run: |
          helm package .

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "$REMOTE_SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
        env:
          REMOTE_SSH_KEY: ${{ secrets.NETCUP_SSH_PRIVATE_KEY }}

      - name: Remove existing Helm Chart on Server
        run: |
          ssh root@v2202501253104311605.luckysrv.de << 'EOF'
            rm -rf /srv/shared/*.tgz
          EOF

      - name: Transfer Helm Chart to Server
        run: |
          scp *.tgz root@v2202501253104311605.luckysrv.de:/srv/shared

      - name: Deploy Helm Chart on Server
        run: |
          ssh root@v2202501253104311605.luckysrv.de << 'EOF'
            helm upgrade --install gpsd /srv/shared/*.tgz \
            --namespace gpsd
          EOF
